@font-face {
  font-family: 'jaapokki';
  src: url(fonts/jaapokki/regular/jaapokki-regular.otf)
}

@font-face {
  font-family: 'print clearly';
  src: url(fonts/printclearly.otf)
}

.button {
  margin: 5vh 15vw 0 15vw;
}

.tags {
  /* display: none; */
  z-index: 20
}

.hide {
  display: none;
}

.tags ul {
  text-align: left;
}

.tags a {
  padding: 8px;
  margin: 0;
  text-decoration: none;
}

.arrow {
  vertical-align: middle;
  margin: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgba(252, 209, 247, .8);
  margin-left: 1em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.23));
}

.showbtn,
.tags {
  /*background-color: #bfe8ff;*/
  width: 60vw;
  padding: 0 5px 0 5px;
  margin: 3vh 20vw 0;
}

.showbtn {
  font-family: 'print clearly';
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

.number {
  color: #f4c101;
  font-size: 2em;
  position: absolute;
  padding-left: 45px;
  padding-top: 8px;
  font-family: 'jaapokki';
  display: none;
}

/* W3 schools, https://www.w3schools.com/css/css_tooltip.asp*/

.tooltip {
  position: relative;
  display: inline-block;
}

iframe {
  width: 420px;
  height: 315px;
  border-width: 0px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin: 0 0 5px -60px;
  background-color: #1c3652;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1c3652 transparent transparent transparent;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 20vw;
}

.intouch a {
  color: blue;
}

img {
  width: 100%;
}

.img_cart {
  width: 20vw;
  height: auto;
}

/*Loader*/

.venus {
  position: relative;
  top: 25vh;
  left: 40vw;
  width: 20vw;
  animation: rotate .5s infinite ease;
}

.page {
  opacity: 1;
  display: block;
  transition: opacity 1s;
}

.item_total {
  font-family: "print clearly";
  font-size: 1.1em;
}

#totalsum {
  font-family: "print clearly";
  font-size: 1.1em;
  font-weight: bold;
}

.hiddenloader {
  display: none;
  transition: 1s all;
}

.container {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FCD1F7;
  height: 100vh;
  width: 100vw;
  transition: all .3s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****/

h1,
h2 {
  color: #1c3652;
  font-family: 'jaapokki';
  font-weight: 100;
}

button {
  font-family: 'jaapokki';
  background-color: #f4c101;
  color: #1c3652;
}

.remove {
  font-family: 'print clearly';
  /* background-color: #f4c101;
  color: #1c3652;
  width: 7vw;
  height: 4vh; */
  cursor: pointer;
}

.medium-more {
  color: #1c3652;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

.rw {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}

h1 {
  padding-top: 3em;
  text-align: center;
}

p {
  font-family: "print clearly";
  font-size: 1.1em;
}

/*Menu starts*/

.deskmenu {
  display: none;
}

ul>li {
  list-style-type: none;
  text-transform: uppercase;
}

.appbar ul>li {
  line-height: 50px;
  font-size: 1.3em;
}

.appbar,
.menu,
footer {
  font-size: 1em;
  background-color: rgba(252, 209, 247, .8);
}

.foot {
  font-size: 1em;
  margin: 1em;
}

footer {
  width: 100%;
  font-family: 'print clearly';
  text-decoration: none;
  color: #1C3652;
  font-size: 1.4em;
  /* padding: 1em; */
}

.icons {
  /* width: 20%; */
  height: auto;
  padding: 1em 0 0 0;
}

.icons img {
  width: 5em;
}

.intouch {
  padding: 2em;
}

.appbar {
  /* width: 100%; */
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all .6s;
}

.appbar,
.menu,
.deskmenu {
  padding: 5px;
  position: fixed;
  margin: 0;
  z-index: 10;
}

.active_cat {
  text-decoration: underline;
}

.cart_desc {
  line-height: 0.2;
}

.tags li.active_cat a {
  text-decoration: underline;
}

.dot {
  animation: down 2.5s ease infinite;
  position: absolute;
  top: 65vh;
  left: 45vw;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 35px solid rgba(252, 209, 247, .8);
}

.dot:hover,
.dot-back:hover {
  animation: 0;
}

.dot,
.dot-back {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.23));
}

.dot-back {
  animation: back 2.5s ease infinite;
  position: absolute;
  top: 80px;
  left: 5vw;
  width: 0;
  height: 0;
  transform: rotate(90deg);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid rgba(252, 209, 247, .8);
  cursor: pointer;
}

@keyframes down {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5vh);
  }
  60% {
    transform: translateY(-3vh);
  }
}

@keyframes back {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0) rotate(90deg);
  }
  40% {
    transform: translateX(-5vh) rotate(90deg);
  }
  60% {
    transform: translateX(-3vh) rotate(90deg);
  }
}

.know-more {
  text-align: right;
  margin-left: 2em;
}

.to-cont {
  font-family: 'jaapokki';
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.menu {
  line-height: 30px;
  width: 100%;
  height: 150px;
  top: 50px;
  left: 0;
  margin: 0;
  text-align: left;
  transition: all 0.6s;
}

.menu.hidden {
  transform: translateY(-100vh);
}

.menuIcon {
  float: right;
  top: 0;
  height: 30px;
  margin-top: 10px;
  margin-right: 50px;
}

.menuIcon rect {
  fill: black;
  transition: all 0.6s;
}

.menuIcon rect:nth-child(1) {
  transform-origin: left top;
}

.menuIcon rect:nth-child(3) {
  transform-origin: left bottom;
}

.menuIcon rect.fadeOut {
  opacity: 0;
}

.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}

.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}

.menulogo {
  width: 20vw;
  top: 1vh;
  margin-left: 10px;
  position: absolute;
}

/*Menu ends*/

.logo {
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 25vh;
}

.front {
  position: absolute;
  color: #1C3652;
  text-transform: lowercase;
  top: 40vh;
  left: 30vw;
  font-size: 3em;
}

#gallerylist {
  text-align: center;
  margin: 3em 5em;
  column-count: 1;
}

.recentitem {
  display: inline-block;
  margin: 0 0 1em 0;
  width: 100%;
  text-align: center;
  position: relative;
  /*box-shadow: 0px 10px 16px rgba(68, 68, 68, 0.2);*/
}

.hover_content {
  display: none;
  background-color: black;
  opacity: .7;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.title,
.medium {
  color: white;
  font-size: 1em;
}

.text {
  position: absolute;
  height: 100%;
  display: block;
  width: 184px;
  height: 184px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  opacity: 0;
  margin-left: .7em;
}

.menuIcon,
.dot {
  cursor: pointer;
}

a {
  font-family: 'print clearly';
  font-weight: 500;
  text-decoration: none;
  color: #1C3652;
  transition: all .3s;
  display: inline-block;
}

li a:hover,
.active,
.to-cont:hover {
  transform: translate(1px, -5px);
  /*text-decoration: underline;*/
}

#anim,
#anim-mobile,
#anim-tablet {
  width: 100%;
  opacity: .5;
}

#anim-mobile {
  height: 100vh;
  width: 100%;
}

#anim,
#anim-tablet {
  display: none;
}

.subpagegrid {
  margin: 4em 5em;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  min-height: 70vh;
}

img-more {
  width: 400px;
}

.subsub {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subgrid {
  text-align: left;
}

/* .subgrid>div {
  align-self: center;
} */

/* 
.sub {
  padding: .5em;
} */

.desc-more {
  font-size: 1em;
}

/*form starts*/

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*e1e3e5*/
  padding: 10px;
  margin: 0px 5px 5px 5px;
  width: 65vw;
  margin: 0 auto;
}

label {
  font-family: 'print clearly', sans-serif;
}

input[type=text],
select {
  width: 30%;
  height: 2em;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  font-family: print clearly;
}

input[type=email] {
  width: 100%;
  height: 2em;
  border: none;
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 0;
}

input[type=submit] {
  width: 100%;
  height: 3em;
  border: none;
  background-color: #f4c101;
  padding: 0;
  margin-top: 0.5em;
}

textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  border: none;
  padding: 0;
}

.thanks {
  position: relative;
  background-color: rgba(252, 209, 247, 1);
  padding: 8em 3em;
}

.thanks div p {
  font-size: 1.5em;
  padding: 0px 20px;
}

.signed {
  width: 60vw;
  position: relative;
  left: 15vw;
}

.thanks a {
  border-bottom: 2px solid black;
  transition: none;
}

.regards {
  margin-bottom: 0;
}

#recentpiece {
  margin: 3em 5em 5em 5em;
  text-align: center;
}

.about {
  margin: 0 10em;
}

.inline {
  font-size: 1.5em;
  font-family: 'jaapokki';
  display: inline;
}

.textytext {
  margin: 10vw 0 10vw 20vw;
}

.texty {
  margin: 10vw 20vw 10vw 0;
}

iframe {
  align-self: center;
  width: 100%;
}

.title-more {
  padding: 0;
}

/* .price-more {
  text-align: right;
} */

.about {
  margin: 0 3em;
}

.column_grid {
  margin: 3em 0 3em 0;
}

.hi {
  display: none;
}

.artworkimg {
  width: 100%;
  height: auto;
}

@media (min-width: 480px) {
  .thanks {
    padding: 8em 5em;
  }
  .signed {
    width: 40vw;
  }
  /* .artworkimg {
    width: 40vw;
  }*/
  .subrgrid {
    padding: 2em;
  }
  .menulogo {
    width: 15vw;
    top: 0;
  }
  #gallerylist {
    column-count: 2;
    column-gap: 1em;
  }
  .about {
    margin: 0 5em;
  }
  .rw {
    font-size: 3em;
    padding-top: 2em;
  }
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    font-family: 'print clearly';
    text-decoration: none;
    color: #1C3652;
    font-size: 1.4em;
    /* padding: 1em; */
  }
  .icons img {
    width: 100%;
  }
  .icons {
    width: 30%;
    height: auto;
    justify-self: end;
    padding: 1em 0 0 0;
  }
}

@media (min-width: 768px) {
  .dot {
    top: 85vh;
  }
  .title {
    font-size: 2em;
  }
  .medium {
    font-size: 1.2em;
  }
  .tags {
    display: inline-block;
    background: none;
  }
  .showbtn {
    display: none;
  }
  .appbar {
    height: 60px;
  }
  .appbar ul>li {
    line-height: 50px;
  }
  .thanks {
    padding: 8em 10em;
  }
  /*.artworkimg {
    width: 30vw;
  }*/
  .hi {
    display: initial;
    z-index: -1;
    position: absolute;
    width: 25%;
    top: 50vh;
    left: 15vw;
    animation: hithere 1s ease-out forwards 1.5s;
    overflow: hidden;
  }
  #subImg {
    cursor: pointer;
    transition: 0.4s;
    justify-self: center;
  }
  #subImg:hover {
    opacity: 0.7;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  .close {
    position: absolute;
    top: 80px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @keyframes hithere {
    100% {
      transform: translateY(-10vh) translateX(-15vw) rotate(-30deg);
    }
  }
  .bye {
    z-index: -1;
    top: -10vh;
    position: absolute;
    animation: byeee 2s linear infinite;
  }
  .o {
    width: 15vw;
  }
  .t {
    width: 3vw;
    animation-delay: .5s;
    left: 10vw
  }
  .th {
    width: 5vw;
    animation-delay: 1s;
    left: 30vw;
  }
  .f {
    width: 4vw;
    animation-delay: 1.5s;
    left: 50vw;
  }
  .fi {
    width: 8vw;
    animation-delay: 2s;
    left: 70vw;
  }
  .s {
    width: 7vw;
    animation-delay: 2.5s;
    left: 90vw;
  }
  .cartTotal {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 3em;
    min-height: 80vh;
  }
}

@keyframes byeee {
  0% {
    transform: rotate(0deg) translate(0);
  }
  25% {
    transform: translateY(25vh) rotate(360deg);
  }
  50% {
    transform: translateY(50vh) rotate(490deg);
  }
  75% {
    transform: translateY(80vh) rotate(550deg);
  }
  100% {
    transform: translateY(100vh) rotate(690deg)
  }
}

/*from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/

.subgrid {
  padding: 2em;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tot {
  padding-top: 5em;
  font-weight: bold;
}

p.title_cart {
  font-weight: bold;
}

.price_number {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desc-more {
  font-size: 1.1em;
}

.tooltip {
  /* position: relative; */
  display: inline-block;
}

.tooltip .tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* position: absolute; */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  display: block;
}

.front {
  top: 50vh;
  left: 45vw;
  font-size: 4em;
}

div.form {
  width: 40vw;
  margin-bottom: 3em;
}

.logo {
  width: 50vw;
  position: absolute;
  left: 20vw;
  top: 25vh;
}

#recentpiece {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* justify-items: center; */
  grid-gap: 1em;
  margin: 1em;
}

#cartDiv {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 6em;
  grid-gap: 2em;
}

.size {
  width: 30vw;
}

.icons {
  width: 80px;
  height: auto;
  /* justify-self: end; */
  padding: 1em 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intouch {
  padding: 0em 1em;
}

/*Menu starts*/

.appbar,
.menu,
.deskmenu {
  padding: 3px;
}

.deskmenu {
  display: initial;
  top: 0;
  right: 0vw;
}

.deskmenu li {
  display: inline;
  padding: 2em;
  font-size: 1.3em;
}

.menulogo {
  width: 10vw;
  top: 1vh;
}

.menuIcon,
.menu {
  display: none;
}

/*Menu ends*/

/* #recent {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
  } */

.column_grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
}

/* .cart img {
  width: 50px;
  padding-top: 2em;
  float: right;
} */

.cart_number {
  width: 10vw;
  justify-self: end;
}

.cart {
  width: 50px;
  padding-top: 2em;
  float: right;
}

/* .column_grid>p {
     align-self:end; 
  } */

.textytext {
  margin: 3vh 0 3vh 10vw;
}

.texty {
  margin: 3vh 8vw 3vh 2vw;
}

.tex {
  grid-row: 3;
  grid-column: 2;
}

footer {
  height: 96px;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr;
  font-family: 'print clearly';
  text-decoration: none;
  color: #1C3652;
  font-size: 1.4em;
  /* padding: 1em; */
}

.icons {
  width: 30%;
  height: auto;
  justify-self: end;
  padding: 1em 0 0 0;
}

.height_holder {
  min-height: 88vh;
}

.icons {
  width: 100px;
  height: auto;
  justify-self: end;
  padding: 1em 3em;
}

.contact {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 2em;
}

.venus_img img {
  width: 365px;
  height: 300px;
  padding-left: 10em;
}

.venus_img {
  display: inline-block;
}

.gridimg {
  width: 100%;
}

#anim-tablet {
  display: initial;
}

#anim-mobile,
#anim {
  display: none;
}

ul.tags {
  font-size: 1.2em;
  position: fixed;
  margin: 3em 0;
  top: 20vh;
  left: 0;
  line-height: 12px;
  width: 15vw;
  /* z-index: -5; */
}

.tags li {
  padding: .7em 0;
}

#gallerylist {
  margin: 3em 3em 8em 15em;
  column-gap: .6em;
}

.title-more {
  grid-column: 1/-1;
}

@media (min-width: 1024px) {
  .hi {
    width: 25%;
    top: 35vh;
  }
  .menulogo {
    width: 8vw;
    top: 0;
  }
  #anim {
    display: initial;
  }
  #anim-mobile,
  #anim-tablet {
    display: none;
  }
  .thanks {
    padding: 8em 20em;
  }
  .signed {
    width: 30vw;
  }
  .thanks {
    padding: 8em 15em;
  }
  .signed {
    width: 30vw;
  }
  /*.artworkimg {
    width: 22vw;
  }*/
  #gallerylist {
    margin: 3em 3em 8em 20em;
    column-count: 3;
    min-height: 50vh;
  }
  .intouch {
    padding: 0em 4.5em 0.1em 4.5em;
  }
  #recentpiece {
    margin: 3em 10em 10em 10em;
  }
  .about {
    margin: 0 10em;
    min-height: 83vh;
  }
}